/* for validation on account creation page. */
.error{
  color:red;
  font-style: italic;
}

.noerror{
	display: none;
}

/* end of validation stuff */

/* for the stars stuff */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	word-wrap: normal;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
}
i {
	cursor :  pointer;
}
.fa-star{
  color: gray;
}

.fa-star:hover{
  color: orange;
}

.fa-star:active{
  color: yellow;
}

.container{
    justify-content: center;
    text-align: center;
}

.form-element{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 0.3em;
}

.form-element input{
    width: 50em;
}

.form-element p {
  width: 100%;
}

.form-buttons{
    margin-top: 3em;
}

.genre, .MPAA_rating, .star_rating, .theater_release, .dvd_release, .vid_type{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  width: 42em;
  margin: 0.5em;
}

.criteria-element{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 0.2em;
  margin: 0.2em;
}

.criteria-element > input {
  width: inherit;
  align-self: center;
}

#remember-forgot{
    padding-top: 2em;
}

.login-remember{
    width: 50%;
    display: inline;
}

.login-forgot{
    width: 50%;
    float: right;
}

.movie{
    padding: 1em;
}

.movie img{
    width: 126px;
    height: 200px;
}

.movie-btns{
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.detailgeneral{
  display: flex;
  justify-content: flex-start;
  padding-left:15em;
}

.detailgeneral p{
  font-size: 25pt;
}

.detailgeneral img{
  width: 35px;
  height: 35px;
}

#rating{
  padding-left: 10em;
}

#year{
  color:#2d2d2d;
  font-size: 35pt;
  padding-left: .4em;
}

#detailsum{
  display: flex;
  justify-content: flex-start;
  padding-left:15em;
}

#detailsum p{
  padding-left: 4em;
}

#detailsum img{
  width: 315px;
  height: 500px;
}

.detaildata{
  font-size: 14pt;
  display: flex;
  justify-content: center;
}

.detaildata p{
  padding-left: 1%;
  padding-right: 1%
}


.detailother ul{
  padding-left: 38.688em;
  text-align: left;
  list-style: none;
}

.search
{
  justify-content: center;
  text-align: center;
}

#page-navigation{
    width: 100%;
    vertical-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 15px 0;
}

#page-navigation ul{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: inherit;
}

#page-navigation ul li{
    background-color: grey;
    list-style-type: none;
    width: 10em;
    padding: 1em 3em 1em 3em;
    text-align: center;
    border: 2px lightgray solid;
    border-radius: 10px;
    color: white;
}

#page-navigation ul li:hover{
    background-color: lightgray;
    color: black;
}

#page-navigation a{
    text-decoration: none;
}

.faform{
    padding: 0;
}

.fabutton{
    background: none;
    padding: 0px;
    border: none;
}

body{
    background-color: grey;
    font-family: 'Roboto', sans-serif;
}

.movie-grid{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 25px;
    background-color: rgba(155, 155, 155, 0.7);
    justify-content: center;
}

input:focus{
    border: 2px green solid;
}